@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

body{
    background-color: lightskyblue;
}

.App{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    max-width: 100vw;
    font-family: 'Roboto', sans-serif;

    .selections{
    width: 100%;
    padding: 1vw;
    background-color: orchid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: seagreen;

        .datepicker{
        background-color: whitesmoke;
        outline: none;
        border: none;
        padding: 0.5vw;
        }
    }

    .columns{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0;
        
        .column{
            margin: 1vw;
            padding: 1vw;
            min-height: 10vh;
            height: fit-content;
            border: 1px solid gray;
            border-radius: 10px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            align-content: flex-start;
            width: 25%;

            ul{
                list-style: none;
                padding: 0;
                margin: 0;

                h4{
                    margin: 0;
                    padding: 0; 
                }
            }
        }
    }
}